[submodule "third_party/mgba"]
	path = third_party/mgba
	url = https://github.com/mgba-emu/mgba.git
[submodule "reference/fireemblem8u"]
	path = reference/fireemblem8u
	url = https://github.com/FireEmblemUniverse/fireemblem8u.git
